<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<a href="/cart/products" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/main/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<h2 th:text="${numOrders + ' заказов на сумму ' + totalSum + ' руб'}"></h2>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.getId()}" th:href="${'/orders/'+order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="product : ${order.getProducts()}">
                    <td th:text="${product.getProduct().getName()+' ('+product.getQuantity()+' шт.) '+(product.getProduct().getPrice()*product.getQuantity())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.getTotalSum()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>